@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&family=Raleway:wght@200;300;500;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
:root{
    --main-color: #009970;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
}
html{
    scroll-behavior: smooth;
}


/* header styling */
.back-white{
    margin-top: 0!important;
    background-color: white;
    box-shadow: 20px 0 10px rgba(0, 0, 0, 0.2);
    transition: 0.5s ease;
}
header{
    margin-top: 20px;
}
header .container{
    max-width: 1320px;
}
header .header-container .logo{
    background-color: var(--main-color);
    padding: 16px 30px 12px 30px;
}
header .logo h1{
    font-size: 26px;
    padding: 0;
    line-height: 1;
    font-weight: 700!important;
    font-family: "Poppins", sans-serif;
    color: #f8f9fa !important;
}
header .logo h1 a{
    color: #f8f9fa!important;
    text-decoration: none;
}
header .header-container .navbar a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px !important;
    color: #36343a !important;
    transition: 0.3s;
    font-size: 13px !important;
    font-weight: 500 !important;
    font-family: "Poppins", sans-serif;
    white-space: nowrap !important;
}
header .header-container .navbar a:hover{
    color: var(--main-color)!important;
}
header .header-container .navbar .button{
    background: var(--main-color);
    padding: 10px 25px !important;
    margin-left: 30px;
    margin-right: 15px;
    border-radius: 50px;
    color: #fff!important;
    transition:  all 0.3s ease;
}
header .header-container .navbar .button:hover{
    background-color: #07c694;
    color: #fff!important;
}
.dropdown-menu .dropdown-toggle::after{
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-left: 0.3em solid;
    border-top: 0.3em solid transparent;
    border-right: 0;
    border-bottom: 0.3em solid transparent;
}
.dropdown-menu-1{
    border: none;
    border-radius: 0;
    box-shadow: 0 -5px 14px -3px #d5d4d4;
}
.dropdown-menu-2{
    position: absolute;
    top: 53px;
    left: 162px;
    border: none;
    border-radius: 0;
    box-shadow: 0 -5px 14px -3px #d5d4d4;
}



/*  hero section styling */
section{
    padding: 60px 0;
    overflow: hidden;
}
#hero{
    width: 100%;
    height: 80vh;
    background: url(../images/hero-bg.jpg) center center;
    background-size: cover;
    position: relative;
}
#hero::before{
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}
#hero h1{
    margin-bottom: 10px;
    font-size: 48px;
    font-weight: 700;
    line-height:  56px;
    color: #ffffff;
    font-family: "Raleway", sans-serif;
}
#hero h2{
    color: #eee;
    margin-bottom: 40px;
    font-size: 15px;
    font-weight: 500;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
#hero .btn-get-started{
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500 !important;
    font-size: 14px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 28px;
    border-radius: 50px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
}
#hero .btn-get-started:hover{
    background-color: var(--main-color);
    border: 2px solid var(--main-color);
}
@media (min-width: 1024px){
    #hero {
        background-attachment: fixed;
    }}



/* Clients section styling */
.clients{
    background: #f6f6f7;
    text-align: center;
    padding: 5px 0;
}
.clients .container{
    max-width: 1320px;
}
.clients img{
    width: 40%;
    filter: grayscale(100);
    transition: all 0.4s ease-in-out;
    display: inline-block;
    padding: 15px 0;
}
.clients img:hover{
    filter: none;
    transform: scale(1.1);
}



/*  About section styling */

.about .container{
    max-width: 1320px;
}
.about h2{
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 20px;
}
.about h3{
    font-weight: 500;
    line-height: 32px;
    font-size: 24px;
    color: #444444;
}
.about .itsalic{
    font-style: italic; !important;
}




/* Count section styling */
.count{
    background: #009970;
    padding: 40px 0 20px 0;
    color: #fff;
}
.count .counters span{
    font-size: 36px;
    display: block;
    font-weight: 700;
}
.count .counters p{
    padding: 0;
    margin: 0 0 20px 0;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    font-weight: 500;
}



/*  why-us section styling */
.why-us .container{
    max-width: 1320px !important;
    padding: 0;
}
.why-us .col-lg-4 .content{
    padding: 30px;
    background-color: #009970;
    border-radius: 4px;
    color: #ffffff;
}
.why-us .col-lg-4 .content h3{
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 30px;
}
.why-us .col-lg-4 .content p{
    margin-bottom: 30px;
}
.why-us .col-lg-4 .content .more-btn{
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 6px 30px 8px 30px;
    border-radius: 50px;
    color: #ffffff;
    transition: all ease-in-out 0.4s;
    text-decoration: none;
}
.why-us .col-lg-4 .content .more-btn:hover{
    color: #009970;
    background-color: #ffffff;
}
.why-us .icon-boxes .icon-box{
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 40px 30px;
    transition: 0.3s;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}
.why-us .icon-boxes .icon-box:hover{
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
}
.why-us .icon-box h4{
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 30px 0;
}
.why-us .icon-box p{
    font-size: 15px;
    color: #848484
}



/*  CTA section styling  */
.cta{
    background: linear-gradient(rgba(2, 2, 2, 0.7), rgba(0, 0, 0, 0.7)), url(../images/cta-bg.jpg) fixed center center;
    background-size: cover;
    padding: 60px 0;
}
.cta h3{
    font-size: 28px;
    font-weight: 700;
    color: #ffffff;
}
.cta p{
    color: #ffffff;
    font-weight: 400 !important;
}
.cta a{
    font-weight: 600;
    border: 2px solid #ffffff;
    color: #ffffff;
    padding: 8px 28px;
    margin-top: 10px;
    font-family: 'Raleway',sans-serif;
    border-radius: 25px;
    transition: all 0.5s ease;
    text-decoration: none;
}
.cta a:hover{
    border: 2px solid #009970;
    background-color: #009970;
}


/*  Services section styling  */
.section-bg{
    background-color: #f6f6f7;
}
.services .container{
    max-width: 1320px !important;
    padding: 0;
}
.services .section-title h2{
    font-size: 32px;
    font-weight: bold;
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.services .section-title h2::after{
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #009970;
    bottom: 0;
    left: 0;
}
.services .icon-box{
    text-align: center;
    padding: 40px 20px;
    transition: all ease-in-out 0.5s;
    background: #fff;
    transition-delay: 0.1s;
}
.services .icon-box:hover{
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.1);
}
.services .icon-box h4{
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 24px;
}
.services .icon-box h4 a{
    color: #36343a;
    transition: ease-in-out 0.3s;
    text-decoration: none;
}.services .icon-box:hover h4 a{
    color: #009970;
 }
.services .icon-box .icon{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 1px solid #009970;
    transition: ease-in-out 0.3s;
}
.services .icon-box:hover .icon{
    background-color: #009970;
}
.services .icon-box .icon i{
    font-size: 26px;
    color: #009970;
    transition: ease-in-out 0.3s;
}
.services .icon-box:hover .icon i{
    color: white;
}



/*  Portfolio section styling  */
.portfolio .section-title h2{
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.portfolio .section-title h2::after{
    content: "";
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    width: 50px;
    height: 4px;
    background-color: #009970;
}
.portfolio .section-title p{
    font-family: "Open Sans", sans-serif;
    font-weight: 550;
    font-size: 16px;
    margin-bottom: 10px;
}
.portfolio .portfolio-filters{
    padding: 0;
    margin: 0 auto 20px auto;
    list-style: none;
    text-align: center;
}
.portfolio .portfolio-filters li{
    cursor: pointer;
    display: inline-block;
    padding: 8px 16px;
    line-height: 1;
    color: #444444;
    font-size: 14px;
    font-weight: 500;
    border-radius: 50px;
    font-family: "Poppins", sans-serif;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
}
.active-portfolio{
    color: white!important;
    background-color: #009970;
}
.portfolio .portfolio-filters li:hover{
    color: white;
    background-color: #009970;
}


/*  Portfolio section styling  */
.portfolio .portfolio-item{
    margin-bottom: 30px;
}
.portfolio .portfolio-wrap{
    position: relative;
    overflow: hidden;
    z-index: 1;
    background: rgba(54, 52, 58, 0.6);
    transition: 0.3s;
}
.portfolio .portfolio-wrap img{
    transition: all 0.3s ease;
}
.portfolio .portfolio-wrap:hover img{
    transform: scale(1.2);
}
.portfolio .portfolio-wrap::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(54, 52, 58, 0.6);
    z-index: 2;
    transition: all 0.3s ease;
    opacity: 0;
}
.portfolio .portfolio-wrap:hover::before{
    opacity: 1;
}
.portfolio .portfolio-wrap .portfolio-info{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    opacity: 0;
}
.portfolio .portfolio-wrap .portfolio-info:hover{
    opacity: 1;
}
.portfolio .portfolio-wrap .portfolio-info h4{
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
}
.portfolio .portfolio-wrap .portfolio-info p{
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    font-style: italic;
}
.portfolio .portfolio-wrap .portfolio-info .portfolio-links{
    align-items: center;
    z-index: 4;
}
.portfolio .portfolio-wrap .portfolio-info .portfolio-links a{
    color: #ffffff;
    margin: 0 5px 0 0;
    font-size: 28px;
    display: inline-block;
    transition: 0.3s;
}
.portfolio .portfolio-wrap .portfolio-info .portfolio-links a:hover{
    color: #009970;
}



/*  Testimonials section styling  */
.testimonials .section-title h2{
    text-transform: uppercase;
    position: relative;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.testimonials .section-title h2::after{
    content: "";
    position: absolute;
    display: block;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 3px;
    background-color: #009970;
}
.testimonials .testimonials-slider .carousel-slide{
    box-sizing: content-box;
    padding: 30px 30px 0 30px;
    margin: 30px 15px;
    text-align: center;
    min-height: 350px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.08);
    color: #ffffff;
}
.testimonials .item p{
    color: black;
    font-style: italic;
    margin: 0 auto 15px auto;
}
.testimonials .item img{
    width: 90px;
    border-radius: 50%;
    border: 4px solid #fff;
    margin: 0 auto;
}
.testimonials .item h3{
    color: #111111;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 5px 0;
}
.testimonials .item h4{
    font-size: 14px;
    color: #999999;
    margin: 0;
}
.testimonials .testimonials-slider .owl-nav{
    display: none;
}
.testimonials .testimonials-slider .owl-dot{
    border: 1px solid #009970;
    width: 12px;
    height: 12px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50%;
    margin: 0 5px;
}
.testimonials .testimonials-slider .owl-dot span{
    background-color: white;
}
.testimonials .testimonials-slider .owl-dot:hover span{
    background-color: #009970 !important;
}

.testimonials .testimonials-slider .owl-dots button:focus{
    outline: none;
    border: none;
}
.testimonials .testimonials-slider .active span{
    background-color: #009970 !important;
    border: 1px solid #009970;
}



/*  Team section Styling  */
.team .section-title h2{
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.team .section-title h2::after{
    content: "";
    background-color: #009970;
    width: 50px;
    height: 3px;
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
}
.team .member{
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 30px;
    text-align: center;
    position: relative;
}
.team .member .pic{
    width: 150px;
    overflow: hidden;
    margin: 0 auto 20px auto;
    border-radius: 50%;
}
.team .member .pic img{
    width: 100%;
    height: auto;
    transition: ease-in-out 0.3s;
}
.team .member:hover img{
    transform: scale(1.1);
}
.team .member h4{
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #36343a;
}
.team .member span{
    font-weight: 500;
    position: relative;
    padding-bottom: 10px;
    font-size: 15px;
    display: block;
}
.team .member span::after{
    content: "";
    background-color: #b5b3ba;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 1px;
}
.team .member p{
    margin: 10px 0 0 0;
    font-size: 14px;
}
.team .member .social{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
}
.team .member .social a{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background-color: #a8a5ae;
    transition: all ease-in-out 0.3s;
}
.team .member .social a + a{
    margin-left: 8px;
}
.team .member .social a:hover{
    background: #009970;
    text-decoration: none;
}
.team .member .social a i{
    margin: 0 2px;
    font-size: 16px;
    color: white;
}



/*  Contact Section Stying  */
.contact .section-title h2{
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
}
.contact .section-title h2::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 3px;
    background-color: #009970;
}
.contact .info{
    padding: 30px;
    width: 100%;
    background: #fff;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}
.contact .info i{
    font-size: 20px;
    color: #fff;
    float: left;
    width: 44px;
    height: 44px;
    background: #009970;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}
.contact .info h4{
    padding: 0 0 0 60px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #36343a;
}
.contact .info p{
    padding: 0 0 0 60px;
    margin-bottom: 0;
    font-size: 14px;
    color: #686470;
}
.contact .php-form-email{
    width: 100%;
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}
.contact .php-form-email .font-group{
    padding-bottom: 8px!important;
}
.contact .php-form-email input{
    height: 44px;
}
.contact .php-form-email textarea{
    padding: 10px 12px;
}
.contact button{
    outline: none;
    background: #009970;
    border: 0;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
    margin-top: 30px;
}



/*  Footer section styling */
#footer{
    color: #444444;
    font-size: 14px;
    background: #f1f0f2;
}
#footer .footer-top{
    padding: 60px 0 30px 0;
    background: #f9f8f9;
}
footer .footer-contact h3{
    font-weight: 500;
}
footer .footer-contact p{
    font-weight:400;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #777777;
}
footer .footer-top .footer-links ul{
    list-style: none;
    padding: 0;
}
footer .footer-top .footer-links ul li{
    padding: 10px 0;
    display: flex;
    align-items: center;
}
footer .footer-top .footer-links ul li:first-child{
    padding-top: 0;
}
footer .footer-top .footer-links ul li i{
    padding-right: 2px;
    font-size: 18px;
    color: #00c28e;
    line-height: 1;
}
footer .footer-top .footer-links ul li a{
    line-height: 1;
    display: inline-block;
    color: #777777;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}
footer .footer-top .footer-links ul li a:hover{
    color: var(--main-color);
}
footer .footer-top .footer-newsletters form{
    background-color: white;
    margin-top: 30px;
    padding: 6px 10px;
    position: relative;
    border: 1px solid #e4e3e6;
    border-radius: 50px;
    text-align: left;
}
footer .footer-top .footer-newsletters input[type="email"]{
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
}
footer .footer-top .footer-newsletters input[type="submit"]{
    position: absolute;
    top: 0;
    padding: 0 20px;
    right: -2px;
    bottom: 0;
    border: 0;
    border-radius: 50px;
    background-color: #009970;
    color: white;
    font-size: 16px;
}

footer .container{
    max-width: 1320px;
    padding: 0;
}
footer .container .bethanylink{
    font-size: 14px;
    padding-top: 5px;
    color: #444444;
}
footer .container .bethanylink a{
    color: #009970;
    text-decoration: none;
}
footer .container .bethanylink a:hover{
    color: #00cc95;
    text-decoration: none;
}
footer .social-links a{
    font-size: 18px;
    color: #ffffff;
    display: inline-block;
    background-color: #009970;
    text-align: center;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px 0;
    line-height: 1;
    transition: all 0.3s ease;
    margin-right: 4px;
}
footer .social-links a:hover{
    background: #00805d;
}